html,body{
	font : "Segoe UI","proxima-nova","proxima-nova-1","proxima-nova-2","Proxima Nova",Helvetica,Arial,sans-serif;
}
form div{
	margin-bottom: 10px;
}
input{
	padding: 6px 6px;
	font-size: 14px;
}
label{
	display: block;
	font-size: 14px;
	text-transform: capitalize;
}
input[type="submit"]{
	padding: 10px 12px;
	background-color: #f4645f;
	color: #fff;
	font-size: 13px;
	border:none;
	margin-top:5px;
	cursor: pointer;
}